<div class="category-list">
    <h3>Темы</h3>
    <div class="form-container">
        <form action="?/category/add" method="POST">
            <input type="text" name="name" placeholder="Название" value="">
            <input type="submit" name="save" value="Добавить">
        </form>
    </div>

     <table class="table">
        <thead class="table-head">
            <tr class="header-row">
                <td class="column-description">Название</td>
                <td class="column-status">Всего вопросов</td>
                <td class="column-status">Опубликовано</td>
                <td class="column-status">Без ответов</td>
                <td class="column-action">Действия</td>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr class="table-row">
                <form action="?/category/update" method="post">
                <td class="column-description">
                    <input class="cell-input" type="text" name="name" value="{{ category.name|e }}">
                </td>
                <td class="column-status">{{ category.total_count }}</td>
                <td class="column-status">{{ category.publicated }}</td>
                <td class="column-status">{{ category.unanswered }}</td>
                    <td class="column-action">
                        <button name="id" formaction="?/category/update" formmethod="post" value="{{ category.id }}">Сохранить</button>
                        <button name="id" formaction="?/category/delete" formmethod="post" value="{{ category.id }}">Удалить</button>
                    </td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>