<div class="question-list">
    <table class="table">
        <thead class="table-head">
            <tr class="header-row">
                <td class="column-description">Вопрос</td>
                <td class="column-date">Дата добавления</td>
            </tr>
        </thead>
        <tbody>
            {% if questions %}
            {% for question in questions %}
            <tr class="table-row">
                <td class="column-description">
                    <a href="?/answer/getByQuestion/question_id/{{ question.id }}">
                        {{ question.description|e }}
                    </a>
                </td>
                <td class="column-date">{{ question.date_added }}</td>
            </tr>
                {% endfor %}
            {% else %}
                <tr class="table-row">
                    <td class="column-description"> - </td>
                    <td class="column-date"> - </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>