<div class="question-list">
        <h3>Задайте вопрос</h3>
        <div class="form-container">
            <form action="?/question/add" method="POST">
                <textarea name="description" placeholder="Текст вопроса" cols="30" rows="2"></textarea><br>
                <input type="text" name="user_name" placeholder="Ваше имя"><br>
                <input type="email" name="email" placeholder="Ваш E-mail"><br>
                <input type="hidden" name="category_id" value="{{ catid }}">
                <input type="submit" name="save" value="Добавить">
            </form>
        </div>
    </div>