<nav class="menu">
    <ul class="menu-list">
        <li class="menu-item"><a href="?/user/main">Главная</a></li>
        <li class="menu-item"><a href="?/user/loginPage">Вход</a></li>
    </ul>
</nav>    